:root {
    --primary: #d46134;
    --primary-010: #f44e3f;
  
    --secondary: #06628a;
    --secondary-010: #06374e;
  
    --white: #fff;
  
    --black: #10101a;
    --black-010: #2a2a30;
  
    --grey: #9b9ba0;
  }