<header>
    <!-- Eager faz carregar mais rapido -->
    <img src="assets/img/marcos.png" alt="Marcos Vinicius - Foto de Perfil" width="130px" height="130" loading="eager">
    <h1>Marcos Vinicius</h1>
</header> 

<aside>
    <div class="container">
        <p>Even Construtora | Angular | .Net</p>
        <p>São Paulo - SP, Brasil</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur accusamus quasi atque rem eum laborum in, ab maxime voluptatem necessitatibus? Natus, eveniet ea dolore delectus inventore et beatae illo tempora?</p>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv/pdf" target="_blank" class="btn btn-primary">Download cv</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/marcos-vinicius-reis2002/" target="_blank" class="btn btn-secondary">LinkdIn</a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do WhatsApp" width="22px" height="24px">
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5511987102156&text=Ol%C3%A1%20Marcos,%20preciso%20de%20um%20projeto!" target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (11) 9 8710 2156</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="assets/icons/mail.svg" alt="Ícone para contato do E-mail" width="22px" height="24px">
                <figcaption>
                    <a href="mailto:marcosviniciusreis2002@gmail.com" target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>E-mail: marcosviniciusreis2002&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>